.textBase {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* design tokens - from figma */
.headingBold {
  font-size: 1rem;
  font-weight: var(--font-weight-semi-bold);
  line-height: 28px;
}

.headingLight {
  font-size: 1rem;
  font-weight: var(--font-weight-reg);
  line-height: 28px;
}

.body {
  font-size: 0.875rem;
  font-weight: var(--font-weight-reg);
  line-height: 28px;
}

.label {
  font-size: 0.875rem;
  font-weight: var(--font-weight-reg);
  line-height: 24px;
}

/* color compositions - from figma */
.black {
  color: var(--black);
}

.accordionGray {
  color: #484848;
}

.inputGray {
  color: #989cac;
}

.gray3 {
  color: #373942;
}

.gray4 {
  color: #4e515d;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
